.console {
    border-radius: 0;
    height: 25%;
    overflow: clip;
}

.console pre {
    white-space: pre-wrap;
    height: 100%;
    width: 100%;
    padding: 1rem;
    overflow: auto;
    margin: 0;
}