.sketches {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

.sketches>* {
    grid-column: span 1;
}

.noSketches {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}