.container {
    display: flex;
    flex-direction: row-reverse;
    padding: 1rem;
    gap: 1rem;
}

@media screen and (orientation: portrait) {
    .container {
        flex-direction: column;
    }

}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
}