.container {
    border-radius: 2vmin;
    display: flex;
    flex-direction: column;
    overflow: clip;
}

.shareMenu {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.shareOption {
    display: flex;
    flex-direction: column;
    align-items: center;
}