.container {
    display: flex;
    margin: 1rem;
    gap: 0.5rem;
    border-radius: 2vmin;
    overflow: clip;
}

@media screen and (orientation: portrait) {
    .container {
        flex-direction: column-reverse;
    }

}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.5rem;
}