.examples {
    display: flex;
    gap: 1rem;
}

.example {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.example img {
    width: auto;
    height: auto;
    max-height: 200px;
}