.wrapper {
    padding-block: 1rem;
}

.wrapper code {
    background: var(--mui-palette-background-paper);
    padding: 0.1em 0.4em;
    border-radius: 0.5em;
    font-size: 0.8em;
    white-space: nowrap;
}

.title {
    padding: 3em;
    margin: -3em;
}

.colored {
    background-color: var(--mui-palette-primary-main);
}

.accordion {
    background: none;
    box-shadow: none;
    padding: 0;
}

.accordion .summary {
    padding: 0;
}

.accordion .details {
    padding: 0;
}