.console {
    overflow: clip;
    border-radius: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.console pre {
    height: 100%;
    width: 100%;
    padding: 1rem;
    overflow: auto;
    margin: 0;
}

.indicator {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.indicator svg {
    font-size: 1rem;
}