.container {
    display: flex;
    flex: 1;
    /*  This fixes the issue where if one section's content exceeds 
    the size of the container, it would expand the container. */
    height: 1px;
    /* This fixes Firefox being bad. */
    max-height: calc(100vh - 11rem);
}

.dragging {
    user-select: none;
}

.splitter {
    --size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--mui-palette-text-secondary);
}

/* Horizontal */

.horizontal>* {
    height: 100%;
    width: 50%;
}

.horizontal>.splitter {
    cursor: ew-resize;
    height: 100%;
    width: var(--size);
}

.horizontal>.splitter>.dragIcon {
    transform: rotate(90deg);
}

/* Vertical */

.vertical {
    flex-direction: column;
}

.vertical>* {
    height: 50%;
    width: 100%;
}

.vertical>.splitter {
    cursor: ns-resize;
    height: var(--size);
    width: 100%;
}