.notifications {
    position: fixed;
    bottom: 10px;
    right: 10px;
    max-width: calc(100% - 50px);
    display: flex;
    align-items: center;
    border-radius: 999px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 10;
    transition: linear opacity 0.5s;
}

.close {
    color: inherit;
}

.translucent {
    opacity: 0.5;
}