.wrapper {
    padding-block: 1rem;
}

.wrapper code {
    background: var(--mui-palette-background-paper);
    padding: 0.1em 0.4em;
    border-radius: 0.5em;
    font-size: 0.8em;
    white-space: pre;
}

.wrapper pre {
    background: var(--mui-palette-background-paper);
    padding: 1em;
    border-radius: 2vmin;
    overflow-x: auto;
    border: 3px solid var(--mui-palette-secondary-main);
}

.title {
    padding-top: 3em;
    margin-top: -3em;
}

.colored {
    background-color: var(--mui-palette-primary-main);
}

.wrapper img {
    float: right;
    border-radius: 1rem;
    width: 20%;
    height: auto;
    margin-left: 1rem;
}

.tooltip {
    text-align: center;
    pointer-events: none !important;
}